<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            function mostrarAlert(caller) {
                // Caller é o elemento <a> que está chamando esta função
                var parentElement = caller.parentElement; // Pega o elemento <li> pai do <a>
                var val1 = parentElement.querySelector(".val1").value; // Dentro do <li> procura elemento com class="val1"
                var val2 = parentElement.querySelector(".val2").value; // Dentro do <li> procura elemento com class="val2" (fixo)
                var resultado = val1 * val2;
                
                var id = caller.dataset.itemId; // Pega valor do data-item-id
                var nome = caller.dataset.nome; // Pega valor do data-nome
                alert("Nome do item " + id + ": " + nome + " - Resultado: " +  resultado);
            }
        </script>
    </head>
    <body>
        <h1>Teste criar chamada JS usando Thymeleaf</h1>
        <p>OBS: Verificar o código-fonte gerado no navegador</p>
        <ul th:if="${itens != null}" th:each="it : ${itens}">
            <li th:id="'item' + ${it.id}">
                <input type="text" class="val1" th:value="${it.valor1}" />
                <input type="hidden" class="val2" th:value="${it.valor2}" /><span th:text="${it.valor2}"></span>
                <a href="#" onclick="mostrarAlert(this);" th:attr="data-item-id=${it.id},data-nome=${it.nome}" th:text="${it.nome}"></a>
            </li>
        </ul>
    </body>
</html>
