<!doctype html>
<html class="h-100">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Exemplo com Layout Dialect</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"
              th:href="@{/webjars/font-awesome/css/all.min.css}" />
        <style>
            .titulo-vermelho {
                color: red !important;
            }
            .fundo-footer {
                background-color: #ddd;
            }
        </style>
    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-md mb-3 navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TADS DSW</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" 
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" 
                               placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <main layout:fragment="conteudo">
            <h1>ESTA AREA SERA SUBSTITUIDA PELOS CONTEÚDOS ESPECÍFICOS DE CADA PÁGINA</h1>
        </main>
        <footer class="footer mt-auto py-3 fundo-footer">
            <div class="container-lg">
                <p class="text-muted text-center">&copy; Senac TADS DSW -
                    <a href="https://github.com/ftsuda-senac"
                       target="_blank" rel="nofollow noopener noreferrer">@ftsuda-senac</a></p>
            </div>
        </footer>
        <!--
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    </body>
</html>